@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Domine:wght@400;500;600;700&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$libre-font: 'Libre Baskerville', serif;
$abroreto-font: 'Aboreto cursive';
$active-color: #6fa0ca    ;
$open-font: 'Open Sans', sans-serif;
$main-color: #3d74a1;
$hover-color: #ffffff;
$wordscolor: #395f7f;


article {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 35%;
    height: 250px;
    border: 1px solid $main-color;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;

    label{
      margin-left: 50px;
      margin-right: 50px;
      width: 100%;
      height: auto;
      font-size: 16px;
      color: rgb(41, 39, 39);
      font-family: $libre-font;
    }

    input{
      margin-left: 50px;
      margin-right: 50px;
      width: 100%;
      border-color: #79a2c4af;
    }

    button {
      width: 30%;
      height: 40px;
      font-size: 15px;
      background-color: transparent;
      border: 1px solid $main-color;
      border-radius: 20px;
      color: $main-color;
      margin-left: 50px;
      margin-right: 50px;
    }
    button:hover {
      border-color: $active-color;
      color: $active-color;
    }
  }
}


@media only screen and (max-width: 1212px){
  
article {

  div {
    text-align: center;
    width: 50%;
    label{
      font-size: 14px;
    }

    button {
      font-size: 12px;
    }
  }
}
}
@media only screen and (max-width: 1026px){
  
  article {
  
    div {
  
      label{
        font-size: 14px;
        margin: 0px;
      }
  
      button {
        width: 100%;
        font-size: 12px;
      }
    }
  }
  }

  @media only screen and (max-width: 414px){
  
    article {
    
      div {
        width: 80%;
        label{
          font-size: 14px;
          margin: 0px;
        }
    
        button {
          width: 100%;
          font-size: 12px;
        }
      }
    }
    }